Repository riipandi/tauri-tray-app: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

format-frontend:
  tags: frontend
  run: biome format . --write

check-frontend:
  tags: frontend
  run: biome check --apply .

lint-frontend:
  tags: frontend
  run: biome lint --apply .

test-frontend:
  tags: frontend
  run: pnpm test

check-backend:
  run: cargo check

format-backend:
  run: cargo fmt

test-backend:
  run: cargo test

refactor: initialize Tauri v2 + SolidJS + Tailwind CSS
  .github/workflows/ci-test.yml
  src-tauri/Cargo.toml
Due: check-backend, format-backend, test-backend

fix: GitHub CI Test workflow
  .github/workflows/ci-test.yml
Due: none

fix: GitHub CI Test workflow
  .github/setup-sdk/action.yml
  .github/workflows/ci-test.yml
Due: none

wip: custom application menu
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/rustfmt.toml
  src-tauri/src/core/menu.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/tray.rs
  src-tauri/src/core/utils.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/menu/macos.rs
  src-tauri/src/menu/mod.rs
  src-tauri/src/meta.rs
  src/assets/styles/main.css
  src/screens/welcome.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

update README.md
  README.md
Due: none

feat: application settings UI
  src-tauri/src/core/utils.rs
  src-tauri/src/main.rs
  src-tauri/src/meta.rs
  src/app.tsx
  src/assets/images/background.svg
  src/assets/styles/main.css
  src/screens/settings.tsx
  src/screens/welcome.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

fix: window close envent handler
  src-tauri/src/main.rs
Due: check-backend, format-backend, test-backend

fix: handle exit and revamped greet command
  src-tauri/src/core/cmd.rs
  src-tauri/src/main.rs
Due: check-backend, format-backend, test-backend

fix: change custom gray color
  src/app.tsx
  src/assets/styles/main.css
  src/screens/not-found.tsx
  src/screens/settings.tsx
  src/screens/welcome.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: dark mode settings
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/core/mod.rs
  src-tauri/src/core/state.rs
  src-tauri/src/core/theme/linux.rs
  src-tauri/src/core/theme/macos.rs
  src-tauri/src/core/theme/mod.rs
  src-tauri/src/core/theme/windows.rs
  src-tauri/src/main.rs
  src-tauri/src/meta.rs
  src/app.tsx
  src/components/link.tsx
  src/screens/not-found.tsx
  src/screens/settings.tsx
  src/screens/settings/_layout.tsx
  src/screens/settings/general.tsx
  src/screens/settings/updates.tsx
  src/screens/welcome.tsx
  src/utils/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

wip: reset settings function
  src-tauri/capabilities/default.json
  src/screens/settings/general.tsx
  src/utils/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

wip: reset settings function
  src/screens/settings/general.tsx
Due: none

feat: save theme settings to native_db
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/core/state.rs
  src-tauri/src/core/theme/linux.rs
  src-tauri/src/core/theme/macos.rs
  src-tauri/src/core/theme/mod.rs
  src-tauri/src/core/theme/windows.rs
  src-tauri/src/core/utils.rs
  src-tauri/src/main.rs
  src-tauri/src/meta.rs
  src/assets/styles/main.css
  src/screens/settings/general.tsx
  src/utils/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

fix: reconfigure settings window
  src-tauri/src/core/utils.rs
  src-tauri/src/main.rs
  src/app.tsx
  src/components/loader.tsx
  src/screens/settings/_layout.tsx
  src/screens/settings/general.tsx
  src/screens/welcome.tsx
Due: check-backend, format-backend, test-backend

feat: disable browser context menu on release build
  src-tauri/src/main.rs
Due: check-backend, format-backend, test-backend

feat: revamped application settings
  src-tauri/capabilities/default.json
  src-tauri/src/core/state.rs
  src-tauri/src/core/theme/mod.rs
  src-tauri/src/main.rs
  src/app.tsx
  src/screens/settings/_layout.tsx
  src/screens/settings/about.tsx
  src/screens/settings/general.tsx
  src/utils/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

remove exit_to_tray setting value
  README.md
  src-tauri/src/core/state.rs
Due: check-backend, format-backend, test-backend

fix: rewrite return type and some app label
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/core/cmd.rs
  src-tauri/src/core/state.rs
  src-tauri/src/core/theme/macos.rs
  src-tauri/src/core/theme/mod.rs
  src-tauri/src/core/tray.rs
  src-tauri/src/main.rs
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

chore: change bundle identifier to com.example.tauri-tray-app
  README.md
  src-tauri/Info.plist
  src-tauri/tauri.conf.json
Due: format-frontend, check-frontend, lint-frontend, check-backend, format-backend, test-backend

chore: reconfigure release profile
  src-tauri/Cargo.toml
Due: check-backend, format-backend, test-backend

chore: reconfigure release profile
  pnpm-lock.yaml
Due: none

feat: initialize Tauri DevTools integration
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Due: check-backend, format-backend, test-backend

feat: custom application title bar
  README.md
  index.html
  src-tauri/Cargo.toml
  src/app.tsx
  src/assets/styles/main.css
  src/components/titlebar/CaptionControl.tsx
  src/components/titlebar/TitleBar.tsx
  src/components/titlebar/TrafficLight.tsx
  src/components/titlebar/index.ts
  src/components/titlebar/titlebar.css
  src/screens/settings/_layout.tsx
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: add tauri-plugin-persisted-scope integration
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Due: check-backend, format-backend, test-backend

feat: emit event when settings updated
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/core/state.rs
  src-tauri/src/core/theme/linux.rs
  src-tauri/src/core/theme/macos.rs
  src-tauri/src/core/theme/mod.rs
  src-tauri/src/core/theme/windows.rs
  src-tauri/src/main.rs
  src-tauri/src/meta.rs
  src/app.tsx
  src/utils/settings.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend, check-backend, format-backend, test-backend

feat: add frontend app keyboard shortcut
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/main.tsx
  src/screens/welcome.tsx
  vite.config.ts
Due: format-frontend, check-frontend, lint-frontend, test-frontend

feat: add frontend app keyboard shortcut
  src/app.tsx
Due: none

Path conditions:
  format-frontend: any of: *.{js,ts,html,css,json}
  check-frontend: any of: *.{js,ts,html,css,json}
  lint-frontend: any of: *.{js,ts,html,css,json}
  test-frontend: any of: *.{js,ts,html,css}
  check-backend: any of: *.{rs,toml,json} and ^src\-tauri/
  format-backend: any of: *.{rs,toml,json} and ^src\-tauri/
  test-backend: any of: *.{rs,toml,json} and ^src\-tauri/
